
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

.App {
  text-align: center;
  font-family: 'Sen', sans-serif;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.menu-posture {
  z-index: 100;
  position: absolute;
  top: 18px;
  left: -1px;
  text-align: center;
}

.ant-page-header-heading-title {
	font-weight: 800;
  font-size: 40px;
}
.main-frame {
  margin: 0.1rem 3.1rem;
}

.mini-bar {
  font-size: 0.3rem;
}

.bar-tab {
  position: relative;
  top: -30px;
}

.centered {
  margin: 0 auto;
  padding-left: 10px;
  z-index: 2000;
}

.edit_page {
  padding-left: 10px;
}

.chat-box {
	margin: 0.1rem 5.1rem;
	text-align: left;
}

.wrap-form {
	margin-left: 30px;
}

.nav-item {
  float: left;
}

.rand {
  padding-left: 50px;
  width: 100%;
  height: 100vh;
}

.fl-left {
	float: left;
	
}
.tx-left {
	text-align: left;
}

.bl-border {
	border-color: blue;
}

.gr-border {
	border-color: green;
}

.logicButton {
  transform: rotate(360deg);
  height: 49px !important;
  width: 49px !important;
  font-size: 20px;
  padding: 4px !important;
}

.ant-btn-round.ant-btn-lg {

}

div.ant-modal-content {
	border-radius: 15px;
}
.ant-tabs-nav-wrapd {
  position: fixed;
  top: 20px;
  left: 40%;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 140px;
  line-height: 140px;
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  background: black !important;
}

.ant-carousel .slick-dots li.slick_active button {
  background: black !important;
}

.ant-carousel .slick-slide h3 {
  color: black;
}